
__pycache__
*.bin
# Ignorar arquivos binários
*.bin
*.exe
*.o
*.out
*.a
*.so
*.dll
*.dylib
*.class
*.log
*.exe
*.o
*.out
extrator
extrato_mt
batches
data_limpo.csv
data_limpo_filtrado.csv
data_300k.csv